.titleTractari {
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-brand--4);
}

.boxAcasa {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 30px;
}

.imgAcasa {
    text-align: center;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 550px; 
    height: 410px;
    /* margin-left: 50px; */
}

.textBoxAcasa {
    flex: 1;
    background-color: #ffffff; 
    width: 600px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phoneIcon {
    margin-right: 8px; 
    font-size: 1.2em;
}

.textBoxAcasa h1 {
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 10px;
}

.textBoxAcasa h4 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.containerAcasa {
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.containerAcasa p {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--color-brand--4);
}

.containerAcasa ul {
    list-style-type: disc;
    padding-left: 20px;
}

.containerAcasa ul li {
    margin: 10px 0;
    margin-left: 20px;
    font-size: 16px;
    text-align: left;
}

.container ul li::marker {
    color: var(--color-brand--4);
}

.callBoxAcasa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: var(--color-dark--3);
}

.callBoxAcasa:hover {
    color: var(--color-light--4);
    background-color: var(--color-brand--2);
}

.boxTwoAcasa {
    margin-top: 1px;
    padding: 20px 30px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1200px;
    text-align: left;
    font-family: 'Arial', sans-serif;
}
  
.boxTwoAcasa h3 {
    text-align: center;
    color: var(--color-brand--4); 
    font-size: 36px;
    margin-bottom: 10px; 
    font-weight: bold;
}

.boxTwoAcasa p {
    text-align: center;
    font-size: 16px; 
    line-height: 1.6; 
    margin-top: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .titleTractari {
        font-size: 32px;
        margin-top: 120px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .boxAcasa {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    .imgAcasa {
        width: 65%;
        height: 400px;
        text-align: center;
        margin-right: 20px;
    }

    .textBoxAcasa {
        width: 100%;
        height: auto;
    }

    .containerAcasa {
        max-width: 90%;
        padding: 15px;
    }

    .boxTwoAcasa {
        padding: 15px 20px;
    }

    .boxTwoAcasa h3 {
        font-size: 30px;
    }

    .boxTwoAcasa p {
        font-size: 14px;
    }

    .callBoxAcasa {
        font-size: 36px;
        padding: 12px 18px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
        color: var(--color-dark--3);
    }
    
    .callBoxAcasa:hover {
        color: var(--color-light--4);
        background-color: var(--color-brand--2);
    }
}

@media (max-width: 768px) {
    .titleTractari {
        font-size: 24px;
        margin-left: 1px;
        margin-top: 70px;
    }

    .box {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    .imgAcasa {
        width: 100%;
        height: 300px;
        margin-left: 1px;
    }

    .textBoxAcasa {
        width: 100%;
        height: auto;
    }

    .textBoxAcasa h1 {
        font-size: 34px;
    }

    .textBoxAcasa h4 {
        font-size: 16px;
    }

    .containerAcasa {
        padding: 5px;
        max-width: 100%;
    }

    .boxTwoAcasa {
        padding: 10px 15px;
        max-width: 100%;
    }

    .boxTwoAcasa h3 {
        font-size: 24px;
    }

    .boxTwoAcasa p {
        font-size: 12px;
    }
}