.faq {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
    
  .faq h2 {
    margin-top: 15px;
    font-size: 28px;
    color: var(--color-dark--3);
    margin-bottom: 20px;
    text-align: center;
  }
    
  .faq .question {
    margin-bottom: 15px;
  }
    
  .faq .question h3 {
    font-size: 20px;
    color: var(--color-brand--4);
    cursor: pointer;
    margin: 0;
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
    
  .faq .question h3:hover {
    background-color: #d1d8de;
  }
    
  .faq .question p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    color: #555;
  }
   
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .faq {
      max-width: 700px;
      margin: 15px auto;
      padding: 15px;
    }
    
    .faq h2 {
      font-size: 24px;
      margin-bottom: 15px; 
    }
    
    .faq .question h3 {
      font-size: 18px; 
      padding: 8px; 
    }
    
    .faq .question p {
      font-size: 14px;
      margin-left: 8px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .faq {
      max-width: 100%;
      margin: 10px auto;
      padding: 10px;
    }
    
    .faq h2 {
      font-size: 24px;
      margin-bottom: 20px; 
    }
    
    .faq .question h3 {
      font-size: 16px;
      padding: 10px; 
    }
    
    .faq .question p {
      font-size: 12px;
      margin-left: 5px;
    }
  }